.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  color: #476D42;
  letter-spacing: 3px;
  line-height: 1.7;
  border-bottom: 1px solid black;
}

.about img {
  padding-top: 40px;
  width: 60vw;
}

.about-text {
  margin-top: 120px;
}

@media (max-width: 600px) {
  .about img {
    padding-top: 20px;
  }
}