.footer {
  background-color: #1C1C1C;
}

.app-wrapper__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

.footer-icons {
  display: flex;
  margin-top: 30px;
}

.footer-icons i {
  font-size: 30px;
  margin: 20px;
  color: white;
}

.footer-text {
  padding-top: 10px;
  letter-spacing: 3px;
  line-height: 25px;
  text-align: center;
}

.contact {
  margin-bottom: 40px;
}