.knowledge {
  padding-top: 15vh;
  background-color: rgb(255, 255, 255);
  color: #476D42;
  border-bottom: 1px solid black;

}

.app-wrapper__knowledge {
  display: flex;
  flex-direction: column;
}

.knowledge-fields {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  flex-wrap: wrap;
}

.knowledge-single-field {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  width: 226px;
  border-radius: 19px;
  background: transparent linear-gradient(180deg, rgba(121, 219, 196, 0.5), rgba(107, 183, 95, 0.5));
  margin: 0 30px;
  margin-bottom: 40px;
}

.knowledge-single-field:hover {
  background: transparent linear-gradient(180deg, rgba(121, 219, 196, 1), rgba(107, 183, 95, 1));
  transform: scale(1.05);
  transition: 0.5s;
  transition-timing-function: linear;
}

.knowledge-single-field:hover .text {
  opacity: 1;
}

.text {
  width: 80%;
  margin: auto auto;
  opacity: 0.3;
}

.knowledge-text h1 {
  padding-bottom: 30px;
}

.knowledge-text span {
  padding-bottom: 10vh;
  letter-spacing: 3px;
  line-height: 1.7;
}


@media (max-width: 600px) {
  .knowledge-single-field {
    height: 220px;
    width: 194px;
  }
}