
.landingpage {
  display: flex;
  min-height: 60vh;
  padding-top: 40vh;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
}

.landingpage-text {
  width: 50%;
  color: #476D42;
}

.app-wrapper__landing img {
  position: absolute;
  left: 60%;
  bottom: 30%;
}

@media (max-width: 1050px) {
  .app-wrapper__landing img {
    position: relative;
    left: 0%;
    bottom: 0%;
    margin-bottom: 10px;
    width: 100%;

  }

  .landingpage {
    padding-top: 25vh;
  }

  .landingpage-text {
    width: 100%;
    padding-bottom: 30px;
  }
}