.router-circles {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.router-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 10px;
}

.router-circle:hover {
  background-color: black;
}

.router {
  display: flex;
}

@media (max-width: 500px) {
  .router-circles {
    margin-bottom: 50px;
  }
}




