.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  border-bottom: 1px solid black;
}

.map h1 {
  color: rgb(0, 0, 0);
  padding-bottom: 60px;
  padding-top: 60px;
}

@media (max-width: 1200px) {
  
  .map img {
    width: 70vw;
  }
}

@media (max-width: 600px) {
  .map h1 {
    padding-top: 0px;
  }

  .map {
    justify-content: space-around;
  }
}