.nav {
  position: fixed;
  background-color: white;
  min-height: 12vh;
  width: 100vw;
  color: white;
  z-index: 1000;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
}

.nav-links a {
  margin: 0 28px;
  text-decoration: none;
  color: #6F926A;
  font-size: 19px;
  transition: font 0.2s ease;

}

.nav-links a:hover {
  font-size: 20px;
}

.nav-links {
  text-align: center;
}

.nav-btn {
  margin: 0 28px;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 19px;
  background: transparent linear-gradient(180deg, #79DBC4 0%, #6BB75F 100%) 0% 0% no-repeat padding-box;
  width: 120px;
  height: 38px;
  color: white;
}

.nav-menu-icon {
  display: none;
}

@media (max-width: 810px) {
  .nav-menu-icon {
    display: inline-block;
    color: rgb(82, 82, 82);
    font-size: 40px;
  }

  .nav-links {
    display: none;
  }
}

@media (max-width: 1050px) {
  .nav-wrapper {
    flex-direction: column;
    padding: 20px;
  }
}

@media (max-width: 1230px) {

  .nav-links a {
    margin: 0 15px;
  }
}

